.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl

# directory_to_ignore/
Dataset/
models/


#enviroment variables
.venv/
venv/
env/
.env
.venv

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# cachefile
data.db